# Set to the name theme to load.
# Look in ~/.oh-my-zsh/themes/
export ZSH_THEME="plbabin"

# Editor
export EDITOR='subl --wait'
export GIT_EDITOR='subl --wait'

# Donít clear the screen after quitting a manual page
export MANPAGER="less -X"

# Larger bash history (allow 32 entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTFILE=~/.zsh_history

# Set to this to use case-sensitive completion
# export CASE_SENSITIVE="true"

# Comment this out to disable weekly auto-update checks
# export DISABLE_AUTO_UPDATE="true"

# Uncomment following line if you want to disable colors in ls
# export DISABLE_LS_COLORS="true"

########################################################################################
# php-version (activate default PHP version and autocompletion)
# PHP_HOME                      => should reflect location of compiled PHP versions
# PHPVERSION_DISABLE_COMPLETE=1 => to disable shell completion
########################################################################################
export PHP_VERSIONS=$(dirname $(brew --prefix php53))
[ -f $(brew --prefix php-version)/php-version.sh ] &&
  source $(brew --prefix php-version)/php-version.sh && php-version 5.3.13 >/dev/null